.homeContainer {
    min-height: 600px;
}.modal-body {
    font-weight: 400;
    font-size: 64px;
    font-family: sans-serif;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;
}.resourceCard {
    background: darkgray;
    width: 72px;
    height: 96px;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    justify-items: center;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.timer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 20px;
}

.clock {
    color: red;
    font-size: 36px;
}

.playPauseBtn {
    margin-left: 20px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center  
}

.paid {
    width: 96px;
    height: 128px;
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%);
    background: white;
}

.hand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
}

.requirements {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
}

.requirementsArea {
    margin: 20px;
    padding: 20px;
    border-radius: 25px;
    border: 1px dashed white;
}

.modal-graphic {
    position: relative;
    width: 100%;
    height: 100%;
}

.challengeDeck {
    width: 166px;
    height: 256px;
    color: white;
    margin-right: 20px;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%)
}

.drawDeck {
    margin-right: 20px;
}

.readyToDraw {
    outline: 2px solid greenyellow;
    outline-offset: 5px;
    outline-style: dashed;
    -webkit-filter: grayscale(0%);
            filter: grayscale(0%)
}

.emptyDrawDeck {
    border: 2px white dashed;
    background: transparent;
    color: white;
    width: 166px;
    height: 256px;
    margin-right: 20px;
    border-radius: 10px;

}

.handArea {
    margin: 20px;
    padding-bottom: 20px;
}

.challengeDeckArea {
    padding-top: 20px;
    margin: 20px;
}

.discardButton {
    height: 256px;
    width: 256px;
}

.smooth-dnd-container.horizontal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; 
}.cardSymbols {
    width: 100%;
}

.challengeCard {
    width: 200px;
    height: 300px;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px;
    font-size: 12px;
}
.card {
    width: 96px;
    height: 128px;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 5px;
    font-size: 12px;
}

.tint {
    background: red;
    width: 72px;
    height: 96px;
}@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');


body { 
    background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(cornflowerblue)) ; 
    background-image: linear-gradient(black, cornflowerblue) ;
    color: white;    
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: white;
}

a {
    color: gold;
}

/* visited link */
a:visited {
}

/* mouse over link */
a:hover {
}

/* selected link */
a:active {
}
